# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# OS files
.DS_Store

# IDE files
.idea/
.vscode/

# CMA-ES output
outcmaes/

# Ignore large numeric folders with per-image output
[0-9]*/
1[0-9]*/

# Ignore heavy output files (keep example small ones if needed)
*.npy
*.pkl
*.csv

# Exceptions (files and folders you DO want to keep)
!0/
!1/
!2/
!3/
!4/
!5/
!6/
!7/
!8/
!9/
!10/
!11/
!12/
!13/
!14/
!15/
!16/
!17/
!18/
!19/

# Also keep their contents
!0/**
!1/**
!2/**
!3/**
!4/**
!5/**
!6/**
!7/**
!8/**
!9/**
!10/**
!11/**
!12/**
!13/**
!14/**
!15/**
!16/**
!17/**
!18/**
!19/**

!optimized_params.npy
!quadratic_params.npy
!fitted_sigma_1188.npy
!fitted_sigma_1218.npy
!requirements.txt
!config.py