cma>=3.2.2
contourpy>=1.1.0
cycler>=0.10.0
fonttools>=4.39.0
h5py>=3.9.0
iniconfig>=1.1.1
kiwisolver>=1.4.4
matplotlib>=3.7.0
numpy>=1.23.0
packaging>=23.0
pandas>=1.5.0
pillow>=9.0.0
pluggy>=1.0.0
pyparsing>=3.0.9
pytest>=7.0.0
pytest-mock>=3.10.0
python-dateutil>=2.8.2
pytz>=2023.0
scipy>=1.10.0
six>=1.16.0
tqdm>=4.64.0
tzdata>=2023.3
